body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.grid {
    width: 800px;
    height: 250px;
}

.md-button.md-fab.md-mini {
	background-color: #0066ff;
}